:root{
    --color-white: #fff;
    --color-origin:#f3a46b;
    --color-black: #555;
    --color-green: #1bbc9b;
    --color-blue:#14b9d5;
    --color-red:#ff6868;
    --color-puple:#c755da;
    --color-yellow: #ffd205;
    --color-light-red:#f76570;
    --text-color: #555;
    --text-color-brown:#ada29a;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}


html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    line-height: 2rem;
    box-sizing:border-box;
}